# 项目排除路径
/cloud-api-commons/target/
/cloud-consumer-order80/target/
/cloud-euraka-server7001/target/
/cloud-euraka-server7002/target/
/cloud-provider-payment8001/target/
/cloud-provider-payment8002/target/
/cloud-consumerzk-order80/target/
/cloud-provider-payment8004/target/
**/target/